@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 1024px) {}

body {
  font-family: 'Inter', sans-serif;
  width: 100vw;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: visible;
}

/** Fonts & Elements **/
h1 {
  color: #2F398C;
  font-size: 45px;
  font-weight: 600;
}

h2 {
  color: #2F398C;
  font-size: 40px;
  font-weight: 600;
}

h3 {
  color: #1828b5;
  opacity: 80%;
  font-size: 26px;
  font-weight: 500;
}

h4 {
  color: #6E75B0;
  opacity: 75%;
  font-size: 18px;
  font-weight: 400;
}

h5 {}

h6 {
  font-size: 16px;
  color: #A7AAA9;
}

p {
  font-size: 16px;
  color: black;
}

p {
  font-size: 16px;
}

button {
  padding: 12px 30px;
  border: solid 1.8px #3c4cc9;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: rgba(60, 76, 201, .85);
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: #3c4cc9;
}
/** Start Landing Page **/

/** Start Nav Menu**/
.nav-menu {
  overflow: hidden;
  background-color: rgb(245, 245, 247);
}

.nav-menu a {
  float: left;
  display: block;
}

.logo {
  height: 35px;
  width: auto;
  margin-left: 2.7vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.nav-menu-right {
  float: right;
}

.nav-menu-right a {
  margin-right: 3vw;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #3643b5;
  opacity: 60%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.nav-menu a:hover {
  opacity: 100%;
}

.nav-menu .icon {
  display: none;
}

#dropdown-1 {
  position: absolute;
  top: 33px;
  background-color: #f1f1f1;
  transform: translateX(-2vw);
  visibility: hidden;
  z-index: 200000000000;
}

#dropdown-2 {
  position: absolute;
  top: 33px;
  background-color: #f1f1f1;
  transform: translateX(5vw);
  visibility: hidden;
  z-index: 200000000000;
}

.dropdown-content {
  list-style-type: none;
  height: inherit;
}

.dropdown-item {
  background-color: #f1f1f1;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-left: 0;
    margin-bottom: 5%;
  }

  .nav-menu {
    width: 100vw;
    height: auto;
  }

  .nav-menu a {
    display: none;
    margin-left: 6vw;
  }

  .nav-menu-right {
    float: left;
  }

  .nav-menu-right a {
    margin-bottom: 4vh;
    margin-top: 0;
    width: 100%;
  }

  .nav-menu-right a:hover {
    opacity: 50%;
  }

  .nav-menu a.icon {
    float: right;
    display: block;
    margin-top: 8px;
    margin-bottom: 1vh;
    margin-right: 3vw;
    color: #3643b5;
  }

  .nav-menu.responsive {
    background-color: rgb(245, 245, 247);
    width: 100%;
    height: auto;
    z-index: 10000;
  }

  .nav-menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: #3643b5;
  }

  .nav-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: #3643b5;
  }

  .nav-menu.responsive a:hover {
    opacity: 75%;
  }
}

/** End Nav Menu **/

/** Start Alert **/
.alert {
  background-color: #3643b5;
  text-align: center;
  padding: 10px;
}

.alert-text {
  font-size: 14px;
  color: white;
  margin: 0;
}

.alert-text a {
  color: white;
}
/** End Alert **/

#landing-page {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url("images/landing-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/** Start Landing Text **/
.landing-text {
  width: 28%;
  margin: 7% 0 0 7%;
}

.landing-text h3{
  color: #5F6BAB;
  font-size: 20px;
  z-index: -2;
}

@media screen and (max-width: 767px) {
  .landing-text {
    width: 90%;
    margin: 0;
    padding: 5% 7% 0 7%;
  }

  #landing-page {
    background-image: url("images/landing-background-responsive-mobile.png");
    background-position: bottom:
  }
}

@media screen and (min-width: 768px) and (max-width: 1130px) {
  .landing-text {
    width: 90%;
    margin: 0;
    padding: 5% 7% 0 7%;
  }

  #landing-page {
    background-image: url("images/landing-background-responsive-tablet.png");
    background-position: bottom:
  }
}

.cursor {
  width: 3px;
  height: 55px;
  margin-left: 0.5vw;
  display: inline-block;
  animation: blink 1s infinite;
}

.cursortyping {
  animation: blink 100s infinite;
}

@keyframes blink {
  0% {
    background-color: #6E75B0;
    opacity: 100%;
  }

  49% {
    background-color: #6E75B0;
    opacity: 0%;
  }

  50% {
    background-color: #6E75B0;
    opacity: 100%;
  }

  99% {
    background-color: #6E75B0;
    opacity: 0%;
  }

  100% {
    background-color: #6E75B0;
    opacity: 100%;
  }
}
/** End Landing Text **/
/** End Landing Page **/

/** Start Metrics **/
#metric-page {
  text-align: center;
  top: 0;
}

.metric-row {
  width: 100%;
  padding-bottom: 8vh;
  background-color: #3643b5;
}

.metric-row:after {
  content: "";
  display: table;
  clear: both;
}

.metric-col {
  float: left;
  width: 25%;
}

.metric-heading {
  color: white;
  opacity: 90%;
}
/**Numbers Testing**/
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.metric-heading-donations {
  animation: counter 5s infinite alternate ease-in-out;
  counter-reset: num var(--num);
}

.metric-heading-donations::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }

  to {
    --num: 100;
  }
}
/**Numbers Testing**/
.metric-sub {
  margin-top: -2vh;
  color: white;
  opacity: 75%;
}

#metric-hr {
  width: 90%;
  color: white;
  opacity: 30%;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .metric-col {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .metric-col {
    float: left;
    width: 50%;
  }
}
/** End Metrics **/

/** Start Mission **/
#mission {
  padding: 3% 5% 0 5%;
}

.pillar-row {
  width: 100%;
  padding-top: 1.5vh;
  padding-bottom: 4vh;
  background-color: white;
}

.pillar-row:after {
  content: "";
  display: table;
  clear: both;
}

.pillar-col {
  float: left;
  width: 24%;
  margin-right: 6vw;
  padding-left: 30px;
  border-left: solid 1.5px #B7BCDA;
}

.educate {
  margin-top: 10vh;
}

.community {
  margin-top: 20vh;
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .pillar-col {
    width: 90%;
    margin-top: 8vh;
  }

  .empower {
    margin-top: 0;
  }
}

/** End Mission **/

/** Start Projects **/
#projects {
  margin-bottom: 40px;
  padding: 5% 5% 0 5%;
}

.projects-row {
  width: 100%;
}

.projects-row:after {
  content: "";
  display: table;
  clear: both;
}

.projects-col {
  width: 47%;
  margin: 30px 30px 0 0;
  float: left;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-text-box {
  padding: 35px 60px 45px 40px;
}

.projects-row h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  opacity: 100%;
  color: #2F398C;
}

.projects-row p {
  color: #2F398C;
}

.projects-row button {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, .7);
  color: #3c4cc9;
}

.projects-row button:hover {
  color: #3c4cc9;
  background-color: white;
}

@media screen and (max-width: 1024px) {
  .projects-col {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .projects-col {
    position: relative;
    height: auto;
    min-height: 100% !important;
  }

  .projects-text-box {
    padding-bottom: 40px;
  }
}

/** Start Projects Targets **/
.projects-col-1 {
  background-image: url("images/projects-background-concert.png");
}

.projects-col-2 {
  background-image: url("images/projects-background-resilience.png");
}

.projects-col-3 {
  background-image: url("images/projects-background-mural.png");
}

.projects-col-4 {
  background-image: url("images/projects-background-panels.png");
}
/** End Projects Targets **/
/** End Projects **/

/** Start Partner **/
#partners {
  margin-bottom: 50px;
  padding: 5% 5% 0 5%;
}

.partner-text {
  text-align: center;
}

.partner-row {
  width: 100%;
  margin: auto;
}

.partner-row:after {
  content: "";
  display: table;
  clear: both;
}

.partner-col {
  float: left;
  text-align: center;
  margin: auto 25px 50px 25px;
}

.partner-row img{
  height: 120px;
  width: auto;
}

@media screen and (max-width: 767px) {
  .partner-col {
    width: 80%;
    margin-top: 50px;
    text-align: center;
  }
}
/** End Partners **/

/** Start Team **/
#team {
  margin-bottom: 100px;
  padding: 0 5% 0 5%;
}

.team-row {
  width: 100%;
  padding-bottom: ;
  margin: auto;
}

.team-row:after {
  content: "";
  display: table;
  clear: both;
}

.team-col {
  float: left;
  padding: 10px;
  text-align: center;
}
/** Start Team Text **/
.team-text {
  text-align: center;
  margin-bottom: 60px;
}

.team-sub {
  font-size 0;
}
/** End Team Text **/
/** Start Team Images **/
#team-linkedin {
  margin-right: 5px;
  visibility: hidden;
  display: inline;
  width: 20px;
  height: auto;
  transform: translateY(3px);
}

#team-sub {
  display: inline;
}

.team-row img{
  border-radius: 100%;
  width: 130px;
  height: 130px;
  border: solid 3px #a3a7c7;
}

.team-img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.6s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  20% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  40% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  60% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  80% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  100% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
}

/** End Team Images **/
/** End Team **/

/** Start Donate **/
#donate-box {
  padding: 0 5% 0 5%;
}

#donate-box div {
  margin: 80px auto;
  border-radius: 20px;
  padding: 30px 40px 60px 40px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("images/donate-background.png");
}

#donate-box h2 {
  font-size: 30px;
  color: white;
}

#donate-box p {
  color: white;
}

#donate-box button {
  border: solid 1.8px white;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 600;
}

#donate-box button:hover {
  background-color: rgba(255, 255, 255, .3);
}
/** End Donate **/

/** Start Footer **/
.footer-row {
  width: 100%;
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: #F4F4F4;
}

.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-col {
  float: left;
}

/** Start Footer Logo **/
.footer-logo {
  width: 25%;
  text-align: center;
  padding-top: 8%;
}

#footer-logo-img {
  width: 10vw;
  height: auto;
}

/** End Footer Logo **/
/** Start Footer Navigate **/
.footer-navigate {
  width: 20%;
}

.footer-navigate ul {
  list-style: none;
  padding-left: 0;
}

.footer-navigate li {
  padding-bottom: 3vh;
}

.footer-navigate a {
  text-decoration: none;
  color: #464646;
}

.footer-navigate a:hover {
  color: #3643b5;
}

/** End Footer Navigate **/
/** Start Footer Social **/
.footer-social {
  width: 23%;
}

.footer-sub {
  color: #464646;
  font-weight: 600;
  margin-bottom: -2vh;
}

.footer-social p {
  padding-bottom: 1.9vh;
}

.footer-link {
  text-decoration: none;
  color: #464646;
}

.footer-link:hover {
  color: #3643b5;
}

.footer-row-sub {
  width: 100%;
}

.footer-row-sub:after {
  content: "";
  display: table;
  clear: both;
}

.footer-col-sub {
  width: 18%;
  float: left;
}

.footer-social-icon {
  width: 25px;
  height: auto;
}

/** End Footer Social **/
.footer-newsletter {
  width: 30%;
}

.newsletter-form {
  position: relative;
  width: 90%;
}

#newsletter-input {
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #6E75B0;
  border-radius: 40px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 15px 120px 15px 23px;
}

#newsletter-input:focus {
  border: 2px solid #2F398C;
}

#submit-email {
  background-color: #6E75B0;
  border-radius: 40px;
  padding: 12px 21px 12px 21px;
  position: absolute;
  top: 6px;
  right: 6px;
  color: white;
  text-decoration: none;
  border: none;
}

#confirmation-message {
  margin-bottom: 100px;
}

@media screen and (min-width: 900px) {
  .footer-col {
    width: 23%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 900px) {
  .footer-col {
    width: 100%;
  }

  .footer-row {
    text-align: center;
  }

  .footer-col-sub {
    width: 100%;
    margin-top: 3vh;
  }

  .newsletter-form {
    padding-left: 6%;
  }
}

/** End Footer **/
